
main {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.mySlides img {
	max-height: 350px;
	object-fit: cover; /* Anti-image 'stretching' */
}

.mySlides .text {
	text-transform: uppercase;
	mix-blend-mode: difference; /* Inverts the font color depending on the background picture */
}


.content {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.f_products {
	/*background-color: #202020;*/
	/*width: 100%;*/
	margin-top: 20px;
}

.f_products h3 {
	color: white;
	margin-left: 75px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    height: 280px;
    overflow: hidden;
}

.card img {
	width: auto;
	height: 140px;
	width: 100%;
}

.card:hover {
    box-shadow: 1px 0px 5px 1px rgba(255,255,255, 0.9);
}

.container {
    padding: 2px 16px;
}

.container h4 {
	font-size: 1vw;
}

.m_popular {
	margin-top: 5px;
	margin-left: 75px;
}

.m_popular h3 {
	color: white;
}

.flash_sales {
	margin-top: 5px;
	margin-left: 75px;
}

.flash_sales h3 {
	color: white;
}

#price {
	color: orange;
}

.categories {
	margin-top: 10px;
	margin-left: 80px;
}
.categories h3 {
	color: white;
}

#more_categ a {
	color: #5050ff;
}